


<mat-form-field> <mat-select
	placeholder="Prototype Signature"> <mat-option
	*ngFor="let originals of originals" [value]="originals.value"
	(onSelectionChange)="selected($event, originals)"> {{
originals.value }} </mat-option> </mat-select> </mat-form-field>

<br>
<label class="btn btn-default"><input type="file"
	(change)="selectFile($event)"></label>

<button class="btn btn-success" [disabled]="!selectedFiles"
	(click)="upload()">Upload file / Files to be validated</button>


<div *ngIf="currentFileUpload" class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>

<a href="{{fileUpload}}">{{fileUpload}}</a>

<script>

</script>
<div *ngIf="verificationResult">

<br>
<label class="btn btn-default">Original Image</label>
<img src ="{{selectedValueByte64}}"/>
<br>

<table id="results" class="table table-hover">
	<tr>
		<th>testSubjectDocument</th>
		<th>matched</th>
		<th>matchCount</th>
		<th>Validated Signature</th>
		<th>RAG</th>
	</tr>
	<tr *ngFor="let data of verificationResult">
		<td>{{data.testSubjectDocument}}</td>
		<td>{{data.matched}}</td>
		<td>{{data.matchCount}}</td>
		<td><img height="100" src="{{data.base64representation}}"/></td>
		<td> <img height="50" width="50" src="../assets/{{data.ragStatus}}.jpg"/></td>

	</tr>
</table>
</div>

